body {
    background-color: #001f3f;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

h2 {

    margin: 15px;
    color: white;
}


select {

    top: 40px;
    margin: 15px;
    color: black;
    background-color: white;
    border-color: #001f3f;
    border-radius: 8px;
    margin-left: 10px;
    padding: 5px;
    width: 350px;
    height: 40px;
}

#adminContent {

    margin: 15px;
    top: 100px;
    color: white;
}

#editButton,
#saveButton,
#cancelButton {
    position: static;
    margin: 15px;
    display: none;
}

select,
::picker(select) {
    appearance: base-select;
}

::checkmark {
    display: none;
}

::picker(select) {
    background-color: white;
    border: 2px solid #001f3f;
    border-radius: 8px;
    padding: 5px;
}

select option {
    background-color: white;
    padding: 8px;
    color: black;
}

select option:hover {
    background-color: #001f3f;
    color: white;
}

#userDropdown {
    background-color: white;
}



.button {
    background-color: #0059b3;
    border: none;
    border-radius: 8px;
    color: white;
    width: 200px;
    height: 40px;
    padding: 5px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.button:hover {
    background-color: #004080;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.highScoreTable {
    position: absolute;
    color: white;
    top: 0px;
    left: 700px;
    width: calc(100vw - 750px);
    height: calc(100vh - 30px);
    padding: 15px;
}

.highScoreTableText {
    margin: 0px;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 50%;
    /* Could be more or less, depending on screen size */

}


#nameValidationAlert {
    background-color: #ffffff;
    color: #ff0000;
}

#ageValidationAlert {
    background-color: #ffffff;
    color: #ff0000;
}

input {
    border-color: #001f3f;
    border-radius: 8px;
    margin-left: 10px;
    padding: 5px;
    width: 200px;
    height: 20px;
}


/* Modal Content/Text */
.modal-text {
    background-color: #fefefe;
    margin: 10px;
    padding-left: 5px;
}

.profileInfo {
    display: none;
    position: absolute;
    right: 20px;
    text-align: left;
    background-color: #0059b3;
    color: white;
    border-radius: 8px;
    padding: 5px;
    width: fit-content;
}

#profilePic:hover .profileInfo {
    display: block;
}

#adminButton {
    right: 100px;
    width: 80px;
    text-align: center;
}

b {
    font-weight: bold;
}



#highScoreTableGeoDash {
    right: 10px;
    width: 100%;
    margin: 0 auto;
}

#highScoreTableJetFighter {
    right: 10px;
    width: 100%;
    margin: 0 auto;
}

.score-row {
    display: flex;
    justify-content: left;
    gap: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}


#mainLayout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#leftColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#topBar {
    display: flex;
    align-items: center;
    margin: 0px;
    gap: 15px;
}

#profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

h2,
select,
#adminContent,
#editButton {
    margin-left: 15px;
}


#adminButtonContainer {
    display: flex;
    gap: 12px;
}

#greeting {
    font-family: "Caveat Brush", cursive;
    font-weight: 500;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: #fefefe;
    margin-top: 60px;
}

/* Spinner from https://css-loaders.com/spinner/ */
.loader {
    display: none;
    width: 20px;
    padding: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffffff;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}